<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930203121601-juqrp2098vroerdhdf3b3o055mdiden3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930203121601-juqrp2098vroerdhdf3b3o055mdiden3</string>
	<key>API_KEY</key>
	<string>AIzaSyC9bMSz6fsNZQ0XqLmsliL4gDo_EGf9wqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>930203121601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestAppRedditGetPosts</string>
	<key>PROJECT_ID</key>
	<string>reddit-feed-ac59a</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-feed-ac59a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930203121601:ios:57eabaf2b77b6c4ee32140</string>
</dict>
</plist>